*{
    padding: 0%;
    margin: 0%;
    
}

/*SECTION SOBRE CARTÕES*/

#cartoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}


#cartoesGrupo{
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    padding: 10px 0px;

}

.cartao{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#cartao1{
    background-image: url(../images/cartao1.png);
}
#cartao2{
    background-image: url(../images/cartao2.png);
}
#cartao3{
    background-image: url(../images/cartao3.png);
}
/* FIM SECTION SOBRE CARTÕES*/

/* SECTION DE HORÁRIOS */

#horariosDiv{
    width: 1000px;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    margin: 30px auto;
}

#horariosDiv table{
    width: 800px;
    border-collapse: collapse;

}

td,th{
    border: solid black 1px;
    padding: 8px;
}

th{
    background-color: brown;
    color: white;
}
td:hover{
    background-color: aliceblue;
}

th:empty{
    background-color: transparent;
    border: none;
}
/* FIM SECTION DE HORÁRIOS */



